@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.logo{
    font-family: 'Satisfy', cursive;
}

.todo-container{
    height: 80vh;
}

.footer_link{
    font-size: 24px;
}